.icon-check {
  color: #00b131;
  font-size: 100px;
  margin-left: 30%;
}

.content-dialog {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-dialog {
  width: 100%;
}

.text {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.redirect {
  font-size: 16px;
}
