<mat-card class="initial-card">
  <div class="card-logo">
    <img mat-card-image src="/assets/img/novo-logo@2x.png" alt="">
  </div>
  <div class="content">
    <div class="info">
      <h1>Detalhes da moto</h1>      
      <span>Placa: <b>EAI-2E19</b></span>      
      <span>Situação: <b>Pronta pra aluguel</b></span>
      <span>Chassi: <b>WERTYUCVBNHJKVBNMGHJFGHJK</b></span>
      <img class="img-info" src="/assets/img/img3.png">
    </div>
    <div class="alignment">
      <div class="alignment-column">
        <h2> Selecione a direção </h2>        
        <div class="actions">
          <div *ngFor="let direction of directions" class="actions-btn alignment-column" [style.background]="direction.color">
            <div class="actions-btn-container" (click)="chooseDirection(direction.id)">
              <div class="actions-btn-text">
                <span>{{direction.text}}</span>
              </div>
              <div class="contents">
                <div class="inner"></div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</mat-card>
