.initial-card {
  box-shadow: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  background-color: #f5f5f5;
}

.card-logo {
  width: 100%;
  background: #fafafa;
  box-shadow: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 1em #ccc;
}

.text {
  font-size: 23px;
  font-weight: 400;
}

.initial-card img {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 100%;
  justify-content: center;
}

.info h1 {
  font-size: 30px;
  font-weight: 500;
}

.info span {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
  white-space: nowrap;
}

.info span b {
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  overflow-y: auto;
}

.actions-btn {
  background-color: rgba(250, 250, 250) !important;
  width: 250px;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 4px 5px #ccc;
}

.actions-btn span{
  font-size: 20px;
  font-weight: 400;
  white-space: normal;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.content {
  display: flex;
  height: calc(100% - 70px);
  justify-content: space-around;
  align-items: center;
}


.alignment-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents,
.contents .inner {
  bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.contents .inner {
  background: #00b131;
  width: 0%;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.actions-btn:hover .contents .inner {
  width: 100%;
}

.actions-btn-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.actions-btn-text{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignment-start {
  padding-top: 30px;
  width: 85%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.back-icon {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .actions-btn {
    width: 200px;
  }
}

@media (max-width: 1049px) {
  .actions-btn {
    width: 150px;
  }
}


@media (max-width: 1047px) {
  .actions-btn span{
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 950px) {
  .actions-btn {
    height: 60px;
  }

  .actions-btn span, .info span {
    font-size: 16px;
  }

  .info h1 {
    font-size: 28px;
  }
}
