<div class="plate alignment-row-center">
  <div class="container">
    <div class="top-plate alignment-row-end">
      <div class="img-container">
        <img class="img-info" src="/assets/img/mercosul.png">
      </div>
      <h2 class="country">Brasil</h2>
      <div class="img-container">
        <img class="img-info flag" src="/assets/img/brasil.png">
      </div>
    </div>
    <div class="bottom-plate d-flex">
      <div class="details alignment-column-between">
        <div class="img-container-qrcode margin">
          <img class="img-info" src="/assets/img/qrcode.png">
        </div>
        <span class="br margin">BR</span>
      </div>
      <div class="number-plate-container alignment-column-center margin">
        <div *ngIf="plate.length; else default">
          <span class="number-plate"> {{ initialPlate }} </span> <br/>
          <span class="number-plate"> {{ endPlate }} </span>
        </div>
        <ng-template #default>
          <span class="number-plate">PLA</span> <br/>
          <span class="number-plate">8T12</span>
        </ng-template>
      </div>

    </div>
  </div>
</div>
