<div class="plate alignment-row-center">
  <div class="container">
    <div class="top-plate alignment-row-end">
      <div class="img-container">
        <img class="img-info" src="/assets/img/mercosul.png">
      </div>
      <h2 class="country">Brasil</h2>
      <div class="img-container">
        <img class="img-info flag" src="/assets/img/brasil.png">
      </div>
    </div>
    <div class="bottom-plate d-flex">
      <div class="details alignment-column-between">
        <div class="img-container-qrcode margin">
          <img class="img-info" src="/assets/img/qrcode.png">
        </div>
        <span class="br margin">BR</span>
      </div>
      <div class="number-plate-container alignment-row-center">
        <span class="number-plate"> {{ plate.length > 0 ? plate : 'PLA 8T12'  }} </span>
      </div>
    </div>
  </div>
</div>
