<div class="info">
  <h1>Detalhes</h1>  
  <span>Placa: <b>{{ dataVehicle?.placa }}</b></span>
  <span>Situação: <b>{{ veiculoSituacao[dataVehicle?.veiculoSituacao] }}</b></span>
  <span>Chassi: <b>{{ dataVehicle?.chassi }}</b></span>
  <span>Cliente: <b>{{ cancelaResponseEvt?.clienteNome }}</b></span>
  <div class="size" >
    <mat-carousel *ngIf="!onlyPlate; else only"
      timings="200ms ease-in"
      [autoplay]="true"
      interval="3000"
      [loop]="true"
      [useMouseWheel]="true"
      [hideIndicators]="true"
      [useKeyboard]="true"
      height="100%"
    >
      <mat-carousel-slide>
        <app-plate *ngIf="dataVehicle?.placa?.length <= 7" [plate]="dataVehicle?.placa"></app-plate>
        <app-chassi *ngIf="dataVehicle?.placa?.length > 7" [plate]="dataVehicle?.placa"></app-chassi>
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="img-info" src="https://prod-backendop.mottu.dev/s3/download/mottu-usuario/{{ dataVehicle?.assinatura }}">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="img-info" src="https://prod-backendop.mottu.dev/s3/download/mottu-usuario/{{ dataVehicle?.usuarioCnh }}">
      </mat-carousel-slide>
      <mat-carousel-slide *ngIf="cancelaResponseEvt?.placaUrl">
        <img class="img-info" src="https://prod-backendop.mottu.dev/s3/download/mottu-usuario/{{ cancelaResponseEvt?.placaUrl }}">
      </mat-carousel-slide>
    </mat-carousel>
    <ng-template #only>
      <div class="plate-component">                
        <app-plate *ngIf="dataVehicle?.placa?.length <= 7" [plate]="dataVehicle?.placa"></app-plate>
        <app-chassi *ngIf="dataVehicle?.placa?.length > 7" [plate]="dataVehicle?.placa"></app-chassi>
      </div>
    </ng-template>
  </div>
</div>
