<div class="login">
    <div class="logo-container">
        <img src="assets/img/novo-logo@2x.png" width="110" height="110" alt="" style="margin-bottom: 10px;">
        <mat-card-title> C A N C E L A</mat-card-title>
    </div>

    <div class="loginContainer">        
        <mat-card-content>
            <form [formGroup]="form">
                <div class="email-input-ctn" >
                    <label for="">Seu email</label>
                    <input type="text" placeholder="Seu E-mail" class="input-email" formControlName="email">
                </div>
                <br>
                <div class="password-input-ctn" >
                    <label for="">Sua senha</label>
                    <input type="{{passwordType}}" placeholder="Senha" class="password-input" formControlName="senha">
                    <mat-icon (click)="setPasswordView()" class="showPassword">
                        {{ passwordType == 'text' ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                </div>                
                <button (click)="login()" mat-button class="login-btn">
                    <mat-spinner *ngIf="showLoader" diameter="20"></mat-spinner>
                    <span class="login-text">LOGIN</span>
                </button>
            </form>
        </mat-card-content>
    </div>
</div>