.loginContainer {
  width: 370px;
  text-align: center;
}
.showPassword {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

.logo-container{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #000;
}

mat-card-title {
  margin-bottom: 16px;
  margin-top: 16px;
}
.loader-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
} 

mat-card-title {
  font-family: sans-serif;
  color: #fff;
}

label {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.login-btn {
  background-color: #00b131;
  color: #fff;
  border-radius: 20px;
  margin-top: 15px;
  width: 150px;
  justify-content: center;
}
.login-text {
  justify-content: center;
  width: 100%;
}

.email-input-ctn {
  display: flex;
  flex-direction: column;
  width: 260px;
  text-align: start;
  .input-email {
    color: #fff;
    outline: none;
    background-color: #202722;
    color: #fff;
    outline: none;
    padding: 10px 5px;
    margin-top: 6px;
    outline: none;
    border: 0;
    border-radius: 5px;
  }
}

.password-input-ctn {
  display: flex;
  flex-direction: column;
  width: 260px;
  position: relative;
  text-align: start;

  .password-input {
    background-color: #202722;
    color: #fff;
    outline: none;
    background-color: #202722;
    color: #fff;
    outline: none;
    padding: 10px 5px;
    margin-top: 6px;
    outline: none;
    border: 0;
    border-radius: 5px;
  }
}

.login-btn ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
:host::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;  
}
  
  