<mat-card class="initial-card">  
  <div class="content">
    <app-details-motorcycle></app-details-motorcycle>
    <div class="alignment">
      <div class="alignment-column">
        <h2> Selecione a direção </h2>
        <div class="actions">
          <div *ngFor="let direction of directions" class="actions-btn alignment-column" [style.background]="direction.color">
            <div class="actions-btn-container" (click)="chooseDirection(direction.id)">
              <div class="actions-btn-text">
                <span>{{direction.text}}</span>
              </div>
              <div class="contents">
                <div class="inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
