<mat-card class="initial-card">
  <div class="card-logo">
    <img mat-card-image src="/assets/img/novo-logo@2x.png" alt="">
  </div>
  <div class="content">
    <app-details-motorcycle></app-details-motorcycle>
    <div class="alignment size">
      <div class="icon-dialog">
        <mat-icon class="icon-check pulse">check_circle_outline</mat-icon>
      </div>
      <div>
        <h3 class="text">Tudo certo!</h3>
        <div class="align-text">
          <span class="redirect">Cancela liberada</span> <br />
        </div>
      </div>
    </div>
  </div>
</mat-card>
