<mat-card class="initial-card" *ngIf="!showLoading">  
  <div class="content">
    <app-details-motorcycle [dataVehicle]="dataVehicle"></app-details-motorcycle>
    <div class="alignment size">
      <div class="icon-dialog">
        <mat-icon class="icon-check pulse" [ngClass]="infoConsulta.status">{{ infoConsulta.icon }}</mat-icon>
      </div>
      <div>
        <h3 class="text">{{ infoConsulta.title }}</h3>
        <h5 class="message">{{ infoConsulta.message }}</h5>
        <div class="errors" *ngIf="infoConsulta.listaErros.length">
          <span>Observações:</span>
          <ul>
            <li class="redirect" *ngFor="let err of infoConsulta.listaErros">{{ err }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<div *ngIf="showLoading" class="loader-ctn">
  <mat-spinner></mat-spinner>
</div>