<mat-card class="initial-card">
  <div class="card-logo">
    <img mat-card-image src="/assets/img/novo-logo@2x.png" alt="">
  </div>
  <div class="content">
    <div class="info">
      <mat-icon class="icon-dissatisfied">report</mat-icon>
      <h1>Ops... não conseguimos fazer a identificação automática da moto</h1>

      <div class="alignment-row-center">
        <div class="margin">
          <app-plate *ngIf="plateFormControl.value?.length <= 7" [plate]="plateFormControl.value"></app-plate>
          <app-chassi *ngIf="plateFormControl.value?.length > 7" [plate]="plateFormControl.value"></app-chassi>
        </div>
        <div>
          <h2>Entre com a placa ou o chassi da moto: </h2>
          <form class="plate alignment-column">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Placa/Chassi</mat-label>
              <input matInput placeholder="PLA8T12" [formControl]="plateFormControl" name="plate" (keyup)="valid()" maxlength="17">
              <button *ngIf="plateFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="error !== ''" class="pb-2">{{ error }}</mat-error>
            <button mat-button class="btn-search" [disabled]="error !== '' || plateFormControl.value == ''">
              <mat-icon class="icon-search">search</mat-icon>
              <span class="text">Procurar</span>
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</mat-card>
