.initial-card {
  box-shadow: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  background-color: #f5f5f5;
}

.text {
  font-size: 23px;
  font-weight: 400;
}

.initial-card img {
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.info h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.info h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 2%;
  text-align: center;
}

.content {
  height: 100%;
}

.icon-dissatisfied {
  font-size: 120px;
  width: 140px;
  height: 140px;
  color: #bdbdbd;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}

::ng-deep.mat-form-field-infix {
  width: 400px !important;
}

.alignment-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-search {
  width: 400px;
  background: #00b131;
  padding: 5px;
  cursor: pointer !important;
}

.text {
  color: white;
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
}

.icon-search {
  color: white;
}

.pb-2 {
  padding-bottom: 1em;
}

:host ::ng-deep.mat-error {
  font-size: 16px;
}

input{
  font-size: 16px;
}

.alignment-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin {
  margin-right: 100px;
}

.loader-ctn {
  position: absolute;
  width: 100%;
  background-color: #ffffff52;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  display: flex!important;
}

@media (max-width: 1000px) {
  .info h1 {
    font-size: 24px;
  }

  .info h2 {
    font-size: 20px;
  }

  .btn-search {
    width: 350px;
  }

  ::ng-deep.mat-form-field-infix {
    width: 350px !important;
  }
}
