@import '~@angular/material/theming';
@include mat-core();

$md-mottu: (
    50 : #e0f6e6,
    100 : #b3e8c1,
    200 : #ebfdf0,
    300 : #4dc86f,
    400 : #26bd50,
    500 : #00b131,
    600 : #00aa2c,
    700 : #00a125,
    800 : #00981f,
    900 : #008813,
    A100 : #b4ffba,
    A200 : #81ff8a,
    A400 : #4eff5b,
    A700 : #35ff44,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//$mottu-primary:  mat-palette($mat-teal);
$mottu-primary:  mat-palette($md-mottu);
$mottu-accent:  mat-palette($mat-teal, A100, A100, A100);

$mottu-warn: mat-palette($mat-red);

$mottu-theme: mat-light-theme( $mottu-primary, $mottu-accent,  $mottu-warn);

@include angular-material-theme($mottu-theme);


html,body{
    height: 100%;
    margin: 0;
}